@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

.logo {
  font-family: 'Rollcake-vmAqE', cursive;
  font-size: 2rem;
}

.scroll {
  overflow: scroll;
  max-height: 490px;
}

.like {
  color: red;
  text-decoration: none;
  display: inline;
}

.unlike {
  color: gray;
  text-decoration: none;
  display: inline;
}

.header  {
  background-image: url("/assets/sora6");
  background-size: cover;
}

body {
  background-image: url("/assets/beach");
}